.scroller {
	width: calc(100vw - 20px);
}

@media screen and (min-width: 768px) {
	.scroller {
		max-width: 600px;
	}
}

@media screen and (min-width: 1024px) {
	.scroller {
		max-width: 1000px;
	}
}

.scroller__inner {
	padding-block: 0.5rem;
	display: flex;
	flex-wrap: wrap;
	gap: 2rem;
	font-size: 2rem;
}

.scroller[data-animated="true"] {
	overflow: hidden;
	-webkit-mask: linear-gradient(
		90deg,
		transparent,
		white 20%,
		white 80%,
		transparent
	);
	mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.scroller[data-animated="true"] .scroller__inner {
	width: max-content;
	flex-wrap: nowrap;
	animation: scroll var(--_animation-duration, 40s)
		var(--_animation-direction, forwards) linear infinite;
}

.scroller[data-direction="right"] {
	--_animation-direction: reverse;
}

.scroller[data-direction="left"] {
	--_animation-direction: forwards;
}

.scroller[data-speed="fast"] {
	--_animation-duration: 30s;
}

.scroller[data-speed="medium"] {
	--_animation-duration: 60s;
}

.scroller[data-speed="slow"] {
	--_animation-duration: 90s;
}

@keyframes scroll {
	to {
		transform: translate(calc(-50% - 0.5rem));
	}
}

.icon-text {
	display: flex;
	align-items: center;
}

.background-border {
	border: 1px solid var(--_color-border, #16a34a);
}

.background-border[border-color="green"] {
	--_color-border: #16a34a;
}

.background-border[border-color="blue"] {
	--_color-border: #60a5fa;
}
